<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Signeringsformulär</h1>
        </div>
    </div>
    <form action="collect_page" method="POST" id="signForm" name="sign_form" data-bind="with: signViewModel, visible: signViewModel.visible">
        <div class="row">
            <div class="col-sm-12">
                {{ form.hidden_tag() }}
                {{ form.personal_number.label }}
                {{ form.personal_number(data_bind="value: nationalidnumber", style="width: 100%", class="form-control") }}<br>
            </div>

            <div class="col-sm-12 text-center">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" id="initiateAuthenticate" data-bind="click: initiateAuthenticateClicked" >Initiate Authenticate</button>
                    <button type="button" class="btn btn-default" id="initiateSign" data-bind="click: initiateSignClicked" >Initiate Sign</button>
                    <button type="button" class="btn btn-default" id="desktopClientButton" disabled='disabled' data-bind="click: desktopStartBankIDClicked">Open BankID App on Desktop</button>
                    <button type="button" class="btn btn-default" id="desktop2MobileButton" disabled='disabled' data-target="#exampleModal" data-toggle="modal">Sign with Mobile Device from Desktop</button>
                    <button type="button" class="btn btn-default" id="mobileSignButton" disabled='disabled' data-bind="click: mobileStartBankIDClicked" >Open BankID App on Mobile Device</button>
                    <button type="button" class="btn btn-default" id="collectButton" disabled='disabled' data-bind="click: collectButtonClicked" >Collect Signing Status</button>
                </div>
            </div>

            <div class="col-sm-12">
                <h2>Debug Information</h2>
            </div>

            <div class="col-sm-12">
                <div style="padding-top: 20px"></div>
            </div>

            <div class="col-sm-12">
                <label>AutoStartToken</label>
                <input type="text" readonly=true size="80" name="autostarttoken" data-bind="value: autostarttoken" class="form-control" value="">
            </div>
            <div class="col-sm-12">
                <div style="padding-top: 10px"></div>
            </div>

            <div class="col-sm-12">
                {{ form.order_ref.label }}
                {{ form.order_ref(data_bind="value: orderref", style="width: 100%", class="form-control", readonly=True) }}
            </div>
            <div class="col-sm-12">
                <div style="padding-top: 10px"></div>
            </div>

            <div class="col-sm-12">
                <label>BankID Autostart Link</label>
                <input type="text" readonly=true size="120" name="autostartlink" data-bind="value: autostartlink" class="form-control" value="">
            </div>
            <div class="col-sm-12">
                <div style="padding-top: 10px"></div>
            </div>

            <div class="col-sm-12">
                <label>Mobile BankID Autostart Link</label>
                <input type="text" readonly=true size="120" name="autostartlinkmobile" data-bind="value: autostartlinkmobile" class="form-control" value="">
            </div>
            <div class="col-sm-12">
                <div style="padding-top: 10px"></div>
            </div>

            <div class="col-sm-12">
                <label>Collect Status</label><br>
                <input type="text" readonly=true size="120" name="collect_status" data-bind="value: collect_status" class="form-control" value="">
            </div>
            <div class="col-sm-12">
                <div style="padding-top: 10px"></div>
            </div>

            <div class="col-sm-12">
                {{ form.collect_results.label }}
                {{ form.collect_results(data_bind="value: collect_results", style="width: 100%", class="form-control", readonly=True) }}
            </div>
            <div class="col-sm-12">
                <div style="padding-top: 10px"></div>
            </div>

        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Sign with BankID</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form>
                                <div class="form-group text-center">
                                    <div class="col-xs-12">
                                        <label for="recipient-name" class="control-label">Awaiting signature...</label>
                                    </div>
                                    <div class="col-xs-12" style="padding-top:10px;padding-bottom:10px">
                                        <i class="fa fa-4x fa-spinner fa-spin"></i>
                                    </div>

                                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                                        <input type="text" readonly=true name="collect_status" style="width: 100%"
                                               data-bind="value: collect_status" class="form-control text-center" value="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>

<script type="text/javascript">

    var is_iOS = function() {

      var iDevices = [
        'iPad Simulator',
        'iPhone Simulator',
        'iPod Simulator',
        'iPad',
        'iPhone',
        'iPod'
      ];

      while (iDevices.length) {
        if (navigator.platform === iDevices.pop()){ return true; }
      }

      return false;
    };

    var SignViewModel = function () {
        var self = this;

        self.visible = ko.observable(true);

        self.nationalidnumber = ko.observable();

        self.autostarttoken = ko.observable();
        self.orderref = ko.observable();
        self.autostartlink = ko.observable();
        self.autostartlinkmobile = ko.observable();

        self.collect_status = ko.observable();
        self.collect_results = ko.observable();
        self.collecting_id = null;

        self.clear_collecting_interval = function() {
            if (self.collecting_id !== null) {
                clearInterval(self.collecting_id);
                self.collecting_id = null;
            }
        };

        $('#exampleModal').on('show.bs.modal', function (event) {
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            self.collecting_id = setInterval(collect, 2000);
            var ok_progressStatuses = ['OUTSTANDING_TRANSACTION', 'NO_CLIENT', 'STARTED', 'USER_SIGN'];

            function collect(){

                $.get("/api/collect/" + self.orderref(), function (data) {
                    self.collect_status(data.progressStatus);
                    if (data.progressStatus == 'COMPLETE') {
                        self.clear_collecting_interval();
                        self.setButtonEnabling(true);
                        self.collect_results(JSON.stringify(data));
                        $("#signForm").submit();
                    }
                    else if ($.inArray(data.progressStatus, ok_progressStatuses) == -1) {
                        self.clear_collecting_interval();
                        self.setButtonEnabling(true);
                        self.collect_results(JSON.stringify(data));
                        $("#signForm").submit();
                    }
                });
            }
        });

        $('#exampleModal').on('hide.bs.modal', function (event) {
            self.clear_collecting_interval();
        });

        self.setButtonEnabling = function(status) {
            $("#desktopClientButton").prop('disabled', status);
            $("#desktop2MobileButton").prop('disabled', status);
            $("#mobileSignButton").prop('disabled', status);
            $("#collectButton").prop('disabled', status);
        };

        self.setAutoStartLinks = function() {
            if (is_iOS()) {
                self.autostartlink("bankid:///?autostarttoken=" + self.autostarttoken() + "&redirect=null");
                self.autostartlinkmobile("bankid://autostarttoken=" + self.autostarttoken() + "&redirect=null");
            }
            else {
                self.autostartlink("bankid:///?autostarttoken=" + self.autostarttoken() + "&redirect=null");
                self.autostartlinkmobile("bankid://autostarttoken=" + self.autostarttoken() + "&redirect=null");
            }
        };

        self.initiateAuthenticateClicked = function() {
            $.get("/api/authenticate/" + self.nationalidnumber(), function (data) {
                self.autostarttoken(data.autoStartToken);
                self.orderref(data.orderRef);
                self.setAutoStartLinks();
                self.setButtonEnabling(false);
            });
        };

        self.initiateSignClicked = function() {
            $.get("/api/sign/" + self.nationalidnumber(), function (data) {
                self.autostarttoken(data.autoStartToken);
                self.orderref(data.orderRef);
                self.setAutoStartLinks();
                self.setButtonEnabling(false);
            });
        };

        self.desktopStartBankIDClicked = function() {
            window.location = self.autostartlink();
            $('#exampleModal').modal("open");
        };

        self.mobileStartBankIDClicked = function() {
            window.location = self.autostartlinkmobile();
            $('#exampleModal').modal("open");
        };

        self.collectButtonClicked = function() {
            self.collect_status("");
            $.get("/api/collect/" + self.orderref(), function (data) {
                self.collect_status(data.progressStatus);
                if (data.progressStatus() == 'COMPLETE') {
                    self.collect_results(JSON.stringify(data));
                    $("#signForm").submit();
                }
            });
        };

        self.init = function () {
        };
    };

    var masterViewModel = function () {
        var self = this;

        self.signDone = function (data) {
        };

        self.signViewModel = new SignViewModel(self.signDone);
    };

    var master = new masterViewModel();

    ko.applyBindings(master);

</script>
{% endblock %}
